@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

  /*--- Header Section ---*/

.header {
  background: rgba(0, 87, 179, 1);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 80px;
}

#logo {
  color: #FBFCFD;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}


  /*--- Review Section ---*/
.review-container {
  width: 100%;
  height: calc(100vh - 60px);
  background: #fdfdfd;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}  

  /*--- Posts Section ---*/
.post-container {
  margin: 50px 75px;
  height: 250px;
  min-height: 250px;
  width: 300px;
  min-width: 300px;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.post-container:visited {
  color: #0047AB;
}

.post-title {
  font-weight: 700;
  font-size: 24px;
}

.post {
  padding: 12px 0 0 20px;
}

.post-body {
  /* Deal with overflow */
  font-size: 18px;
  display: -webkit-box;
  max-width: 270px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* display: inline-block;
  width: 275px;
  height: 115px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis; */
}

.post-footer {
  font-size: 14px;
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

  /*--- Star Section ---*/
.star-inner {
  color: #ffc107;
}


  /*--- Comments Page  ---*/
.comments-container {
  display: flex;
  flex-direction: column;
  padding: 40px 80px 0;
}

.comments-box {
  border: 1px black solid;
  width: 100%;
  margin-bottom: 80px;
}